{% extends "layout.html" %}
{% block content %}
    <div class="about-section">
  <h1>About Us Page</h1>
  <p>This Webpage is to allow writer around the world to posts their articles and thoughts about Technology</p>
  <p>You are welcome to join us! Please create an account</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="./Images/batool.JPG" alt="Batool" style="width:100%">
      <div class="container">
        <h2>Batool alsulaibi</h2>
        <p class="title">Developer</p>
        <p>CE Student @Birzeit University</p>
        <p>batoolalsulaibi@gmail.com</p>
        <p><button class="button" href="https://www.linkedin.com/in/batoolalsulaibe/">Contact</button></p>
      </div>
    </div>
  </div>

</div>
{% endblock content %}

